@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(to right, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    min-height: 100vh;
    overflow: scroll;
    
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
    padding: 15px 0;
    position: relative;
    
}

.figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    align-self: stretch;
    width: 50%;
    overflow: hidden;
    flex-shrink: 0;
    
}

.illustration-woman {
    position: absolute;
    left: -14%;
    width: 90%;
    flex-shrink: 0;

}

.illustration-woman-mobile {
    display: none;
}

.box {
    position: absolute;
    top: 43%;
    left: -13.5%;
    z-index: 11;
    
}

.faq {
    padding: 70px 50px;
    margin-left: -2.5rem;
    margin-right: 2.5rem;
    z-index: 2;
    flex: 1;
    flex-shrink: 2;
}

.faq h2 {
    font-size: 3em;
}

.accordion {
    display: flex;
    flex-direction: column;
}

.list-item {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 20px 0;
    color: hsl(240, 6%, 50%);
}

.question {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;

    
}

.question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.question.active {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}

.answer {
    margin-top: 10px;
    height: 0px;
    transition: all ease-in-out 500ms;
    overflow: hidden;
}

.answer.active {
    height: 50px;
    overflow: auto;

}


@media screen and (max-width:900px) {

    .wrapper {
        padding: 40% 20px;
    }

    .container {
        max-width: 500px;
        width: 100%;
        position: relative;
    }
    
    .figure {
        display: none;
        
    }

    .box {
        display: none;
    }

    .faq {
        margin: auto;
        margin-top: 55px;
        padding: 70px 20px;
    }

    .faq h2 {
        text-align: center;
        margin-bottom: 15px;
        
    }

    .illustration-woman-mobile {
        display: block;
        position: absolute;
        z-index: 20;
        width: 80%;
        max-width: 450px;
        left: 10%;
        transform: translateY(-68%);
    }


    
}

@media screen and (max-width:280px) {
    .wrapper {
        padding: 40% 10px;
    }


}